footer {
  .container {
    @media (max-width: 991.98px) {
      max-width: 550px;
      * {
        text-align: center;
      }
      div[class*='col-'] {
        margin: 60px 0;
      }
    }
  }
  p {
    line-height: 29px;
  }
  .footer-top {
    @media (max-width: 991.98px) {
      padding: 0;
      padding-top: 30px;
    }

    .footer-widget {
      a.footer-logo {
        margin-bottom: 25px;
        margin-top: -10px;
      }
      &.links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        li {
          line-height: 35px;
          &:hover {
              a {
                  color: $pink;
                  text-decoration: underline;
              }
          }
        }
      }
      h3 {
        font: 20px;
        font-weight: 400;
        margin-bottom: 25px;
      }
      a.email,
      a.phone {
        font-size: 24px;
        display: block;
        margin: 20px 0;
      }
      a.email {
        font-size: 14px;
        &:hover{
            text-decoration: underline;
            color: $pink;
        }
      }
      .subscription {
        margin-top: 20px;
        margin-bottom: 25px;
        div {
          border: 1px solid;
          overflow: hidden;
          border-radius: 25px;
          input,
          button {
            border: none;
            background-color: transparent;
          }
          input {
            padding: 15px;
            padding-top: 17px;
            padding-left: 20px;
            padding-right: 20px;
            width: calc(100% - 40px);
          }
          button {
            float: right;
            font-size: 16px;
            margin-top: 14px;
            margin-right: 13px;
            &:hover {
                color: $pink;
                cursor: pointer;
            }
          }
        }
      }
      .footer-social-icons {
        a {
          margin-right: 20px;
          font-size: 25px;
          &:hover {
            color: $pink;
          }
        }
      }
    }
  }
  .copyright {
      margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    i {
        color: $pink;
    }
  }
}
